$large: 960px;
$medium: 800px;
$small: 500px;

html, body {
  height: 100%
}

body {
  font-family: sans-serif;
  color: dimgrey;
  background-color: #cbd4bf;
  padding: 15px 10px;
}

body, div, span {
  position: relative;
}

.container {
  max-width: $large;
  display: block;
  margin: auto;
}

.line {
  min-height: 2px;
  max-width: 98%;
  margin: 10px auto;
  background-color: rgba(0, 0, 0, 0.13);
  display: block;
}

.wrapper {
  display: table;
  width:100%;
  background-color: white;
  @extend .container;
  box-shadow: -5px 5px #829d8b;
  height: 100%;
  position: relative;
}

.page {
  padding: 20px;
  background-color: #ffffff;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

.h {
  color: #e4b434;
  margin-bottom: 10px;
}

h1 {
  @extend .h;
  font-size: 2em;
}

h2 {
  @extend .h;
  font-size: 1.8em;
}

h3 {
  @extend .h;
  font-size: 1.6em;
}

h4 {
  @extend .h;
  font-size: 1.4em;
}

h5 {
  @extend .h;
  font-size: 1.2em;
}

h6 {
  @extend .h;
  font-size: 1.1em;
}

.underline {
  text-decoration: underline;
}

p {
  margin-top: 15px;
  margin-left:10px;
  margin-bottom: 10px;
  width:80%;

  @media screen and (max-width:$medium){
    width:95%;
  }

  @media screen and (max-width:$small){
    width:99%;
  }
}

.footer-container {
  display: table-row;
  position: relative;
  vertical-align: bottom;

  .footer {
    display: table-cell;
    background-color: #f4f4f4;
    padding: 10px;
    height:1%;
    nav {
      border:none;
      &:after{
        display:none;
      }
      ul {
        li {
          font-size: 1em;
        }
      }
    }
  }
}


label{
  display:block;
  margin:5px auto 1px;
}


audio{
  margin:2px;
}