nav{

  padding:20px;
  @extend .container;
  margin-bottom: 15px;


  &:after{
    @extend .line;
    content:"";


  }
  ul{

    li{
      display:inline-block;
      margin:5px 15px;
      font-size:1.5em;
      color: #535774;

      &:first-of-type{
        margin-left:0;
      }

      @media screen and (max-width:$medium){

      }

      @media screen and (max-width:$small){
        display:block;
        margin-left:5px !important;

      }
    }
  }
}