.avatar-infobox {
  display: block;

  .avatar {
    display: inline-block;
    width: 30%;
    padding: 0 10px;
    img {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
      display: block;
    }

    @media screen and (max-width: $small) {
      display: block;
      width: 100%;
      padding-bottom: 10px;
    }
  }

  .infobox {
    display: inline-block;
    vertical-align: top;
    width: 70%;

    h1 {
      padding-bottom: 10px;

      @media screen and (max-width: $small) {
        text-align: center;
      }
    }

    div {
      margin: 10px;
    }

    @media screen and (max-width: $small) {
      display: block;
      width: 100%;

    }
  }
}


.links{

  a{
    display:block;

    padding:10px;
  }
}


.image-holder {

  text-align: center;

  img {
    display:inline-block;
    max-width: 100%;
    margin:auto;
  }
}










